<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UbikeForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UbikeForm.Properties.Settings>
            <setting name="ubikeservice" serializeAs="String">
                <value>https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json</value>
            </setting>
        </UbikeForm.Properties.Settings>
    </applicationSettings>
</configuration>